.fullscreen {
	width: 100%;
	height: 100%;
}
.l-fixed {
	position: fixed;
}
.l-inline > *{
	display: inline-block;
}
.l-stacked > * {
	display: block;
}
.l-top-level {
	z-index: 9999999;
}
.hidden {
	display: none;
}


.chromeframe { background: #ccc; color: #000; margin: 0.2em 0; padding: 0.2em 0; }

.remove-bottom { margin-bottom: 0; }

.align-right	{ float: right; }
.align-left		{ float: left; }

.text-left		{ text-align: left; }
.text-centered	{ text-align: center; }
.text-right		{ text-align: right; }

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}
.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
